.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  gap: 32px;
  max-width: 2500px;
}

.container {
  display: flex;
  max-width: 100%;
  gap: 32px;
  justify-content: center;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 1px solid rgb(239, 239, 248);
  padding: 8px;
  border-radius: 8px;
  flex: 0 0 200px;
  min-height: 600px;
}

/* Basic hotel list layout */
.hotelList {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 1700px;
}

/* Individual hotel card */
.hotelCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  max-width: 350px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.hotelCard:hover {
  transform: scale(1.05);
}

/* Hotel image styling */
.hotelImage img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}

.hotelImage p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 8px;
  color: #555;
}

/* Hotel information styling */
.hotelInfo {
  margin-top: 10px;
}

.hotelInfo h2 {
  margin: 5px 0;
  font-size: 1.4rem;
}

.hotelInfo p {
  margin: 5px 0;
  color: #333;
}

/* Deal styling */
.hotelDeal {
  background-color: #f8f9fa;
  border: 1px solid #dedede;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.hotelDeal h3 {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #007bff;
}

.skeletonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.skeletonItem {
  height: 450px;
  width: 350px;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.button {
  font-size: 1rem;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  padding: 5px;
}

.searchInput {
  border: none;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
}

.searchInput:focus {
  border: 1px solid rgb(114, 204, 246);
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 32px;
}

.sliderInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #1976d4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #1976d4;
  cursor: pointer;
}

.distanceInput {
  border: none;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
}

.cityCenter {
  border-bottom: 0.5px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 32px;
}

.searchFilter {
  border-bottom: 0.5px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
}
